.heading{
    color: red;
}
.test1{
    color: red;
}
.list{
    color: brown;
}
.span{
    background-color: yellow;
}
.underline{
    text-decoration: underline;
}
.test5{
    color: brown;
    background-color: yellow;
}
